<% if logged_in? %>

    <h1>La grande réponse de l'univers est <strong>42</strong></h1>

<div class="_3xYY6QR2VuQXUgyDTl0hyu _3zM-WhDmCDfr3adQw5Zj3I" data-sticker="false"><div><a class="_2e8VMsXvtwwOTebVU08mai" href="https://winds-of-desolation.tumblr.com/post/25764688930" rel="nofollow" target="_blank"><div><video alt="dragon ball z GIF" src="https://media2.giphy.com/media/hxCB1Qf11SrU4/giphy.mp4" poster="https://media2.giphy.com/media/hxCB1Qf11SrU4/giphy_s.gif" autoplay="" loop="" playsinline="" style="width: 100%; height: 100%;"></video><img src="https://media2.giphy.com/media/hxCB1Qf11SrU4/giphy.gif" alt="dragon ball z GIF" style="width: 100%; height: 100%; opacity: 0;"></div></a></div></div>

<% else %>

   <h1>You should not pass !!!</h1>
   <a href="../../login">Connect first</a>

<% end %>
